/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.containers {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}

/*
  ========================================
  Typography
  ========================================
*/

.icon-bar i{
  margin: 0px;
  background-color: #000000;
  color: #FFFFFF;
}


body.dark-theme {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0px;
  background-color: #000000;
  color: #FFFFFF;
}

.content-section {
  background: #000000;
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.bottom-img {
  height: 40px;
  width: 40px;
  margin-right: 16px;
}

.column {
  float: left;
  padding: 10px;
}

.left, .right {
  width: 20%;
}

.middle {
  width: 55%;
  padding-left: 15px;
}




.icon-bar {
  width: 200px;
  background-color: #000000;
  font-family: "Open Sans", sans-serif;
}

.icon-bar a {
  display: block;
  text-align:left;
  padding: 16px;
  transition: all 0.3s ease;
  color: #FFFFFF;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: rgba(63, 63, 63, 25%);
  border-radius: 50px 50px;
}

.active {
  background-color: #000000;
}

input[type=text], textarea{
  width: 100%;
  padding: 12px;
  border: 0px solid #ccc;
  border-radius: 4px;
  resize: none;
  overflow: hidden;
  background-color: #000000;
  color: #FFFFFF;
}

input[type=submit] {
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}


input[type=submit]:hover {
  background-color: #546AEF;
}


.col-75 {
  float: left;
  width: 95%;
  margin-top: 6px;
  
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.iconbar-sticky {
  position: -webkit-sticky;
  position: fixed;
}
