body {font-family: Arial, sans-serif;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 0px solid #ccc;
  background-color: #000000;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #000000;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #FFF;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #181818;
}

/* Create an active/current tablink class */
.tab button.active {
  font-weight: bold;
  background-color: #000;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 0px solid #ccc;
  border-top: none;
  background-color: #000000;
  color: #FFF;
  font-size: 14px;
}

.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-right: auto;
  text-align: left;
  font-family: arial;
}



