*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 18px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    padding-top: 8vh;
    width: 100%;
    color: #f5f6f7;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to right, #ffffff, #ffffff);
}
.signup-body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    /*background-color: #10174a;
    background-image: url("../../images/gradient-blue-bg.jpg");
    background-size: cover;*/
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    width: 680px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(110, 110, 110, 0.1);
    background-color: rgba(110, 110, 110, 0.1);
    border: 2px solid rgba(110, 110, 110, 0.1);
    backdrop-filter: blur(50px);
    padding: 40px 35px 55px;
}
.container h1{
    font-size: 36px;
    margin-bottom: 20px;
}
fieldset{
    border: none;
}
.input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box .input-field{
    position: relative;
    width: 48%;
    height: 50px;
    margin: 13px 0;
}

.input-box .input-field input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 255, .2);
    outline: none;
    color: #000;
    font-size: 16px;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
}

.input-box .input-field input::placeholder {
    color: #000;
}
.input-box .input-field input:focus {
    border-color: rgba(0, 0, 255, .5);
}
.input-box .input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}

.button{
    width: 100%;
    height: 40px;
    background: #546AEF;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: rgba(255, 255, 255, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-top: 25px;
}

.button:hover{
    background-color: #17172B;
}

.login-link{
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #000;
}

.login-link a{
    color: #1616db;
    text-decoration: none;
}

.login-link a:hover{
    color: purple
}
.input-box .input-field .invalid-feedback{
    padding-top: 0.2rem;
    color: red;
    font-size: 0.75rem;
}
.warning{
    color: wheat;
}

@media (max-width: 600px){
    .input-box .input-field{
        width: 100%;
        margin: 10px 0;
    }
    .signup-body{
        min-height: 90vh;
    }
    .container{
        padding: 10;
    }
}