{% extends "base.html" %}

{% block content %}

{% for flashed in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Hi {{ form.name.data }}: {{ flashed }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
{% endfor %}

{% if form.name.data %}
    <h1>Data Submitted: </h1>
    <br/><br/>
    Name: {{ form.name.data }}<br/>
    Email: {{ form.email.data }}<br/>
    UserName: {{ form.username.data }}<br/>
    Password: {{ form.password.data }}<br/>
    Confirm Password: {{ form.confirm_password.data }}<br/>

{% else %}

<!--Add Shadow to form-->
<div class="signup_container">
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded signup">
        <h1 class="signupH">Sign up</h1>
        <br/>
        <form method="post">
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}

            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}

            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}

            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}

            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control") }}

            <br/>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
    </div>
</div>
{% endif %}

{% endblock %}
