<link rel="stylesheet" href=" {{ url_for('static', filename='css/footer.css') }} ">

<footer class="footer">
    {% if request.endpoint != 'signup' %}
    <div class="item">
	    <a href=" {{ url_for('signup') }}"><small>Signup</small></a>
    </div>
    {% endif %}
    <div class="item">
	    <a href="{{ url_for('index') }}"><small>About</small></a>
    </div>
    <div class="item">
	    <a href="#"><small>Help</small></a>
    </div>
    <div class="item">
	    <a href="#"><small>Terms of Service</small></a>
    </div>
    <div class="item">
	    <a href="#"><small>Developers</small></a>
    </div>
    <div class="item">
	    <a href="{{ url_for('team') }}"><small>The team</small></a>
    </div>
    <div class="item">
    <small>NeXa@2023</small>
    </div>
</footer>
