{% extends 'layout.html' %}
{% block content %}
        
	<div class="column middle border-left border-right  border-dark">
            <div class="row">
                <div class="col-75">
                    <form method="POST" action="">
                      <textarea id="subject" name="content" placeholder="What's on your mind..?" style="height:50px"></textarea>
                      <br>
                      <button class="btn btn-outline-secondary" type="submit">Post</button>

                  </form>
                <div>

                <div>
                    <br>
                </div>
                {% for post in posts  %}
                <article class="media content-section">
                    <div class="media-body">
                    <div class="article-metadata">
                    <span class="article-metadata"><small>{{ post.name }} &nbsp; {{ '@' + post.user.username }} </small></span>

                      <small class="text-muted">{{ post.posted_at }}</small>
                    </div>
                    <p class="article-content">{{ post.content }}</p>
                    <hr class="hz-line">
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>

        <div class="column right">



        </div>

{% endblock content%}
