<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href=" {{ url_for('static', filename='css/reset.css') }} ">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href=" {{ url_for('static', filename='css/login.css') }} ">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/nexa_logo.png') }}">

<title>NeXa - Log in</title>
</head>
<body>
<header>
    <div>
    
	    <br><br><br><br>
    </div>

</header>

<br>
<br>
<div class="container">
  <form method="POST" action="">
	  {{ form.hidden_tag()  }}
    <div class="row">
      
      <div class="vl">
        <span class="vl-innertext"></span>
      </div>

      <div class="col">
	      <a href="home"><img src="{{ url_for ('static', filename='images/logo_water_2_whitebg.png') }}"></a>
           <h6 class="phrase">Nexa helps you connect with ALX students <br> and alumni for collaboration, mentorship <br> and knowledge-sharing.</h6>
        
      </div>

      <div class="col">
	<fieldset>
	      {{ form.email(placeholder="Email Password") }}
	      {{ form.password(placeholder="Password") }}
	      <div class="d-inline">
	      {{ form.remember() }} Remember me
	      </div>

	      {{ form.submit(class="") }}
       <hr> 

	</fieldset>
        Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a>
      </div>
      
      
    </div>
  </form>
</div>

<div class="bottom-container fixed-bottom">
  <div class="row">
    <div class="col">
	    <a href=" {{ url_for('signup') }}" style="color:white" class="btn">Signup</a>
    </div>
    <div class="col">
	    <a href="{{ url_for('index') }}" style="color:white" class="btn">About</a>
    </div>
    <div class="col">
      <a href="#" style="color:white" class="btn">Help</a>
    </div>
    <div class="col">
      <a href="#" style="color:white" class="btn">Terms of Service</a>
    </div>
    <div class="col">
      <a href="#" style="color:white" class="btn">Developers</a>
    </div>
    <div class="col">
      <small class="btn">NeXa © 2023</small>
    </div>

  </div>

</div>

</body>
</html>

