{% extends 'layout.html' %}
{% block content %}


<div class="position-relative  column middle border-left border-right  border-dark">
<div class="profile-relative">
<img  src="{{ url_for('static', filename='images/keep_it_simple.jpg') }}" width=100% height=100%>
  <div class="profile-absolute">
  	<img class="rounded-circle profile-img" src="{{ url_for('static', filename='images/profile_pics/' + current_user.image_file) }}">
  </div>
</div>

  <div style="margin: 100px 0 30px 0;">
  <h5 class="mt-0 mb-0">{{ current_user.name }}</h5>
  <h6 class="mt-0 text-muted">{{ '@' + current_user.username }}</h6>
  <span><i class="fa fa-calendar text-muted">&nbsp;</i></span><span class="mt-0 text-muted"> Joined {{ current_user.created_at.strftime('%B %Y') }}</span>
  </div>
   
    <div class="border-bottom border-dark tab">
        <button id="postButton" class="tablinks" onclick="openCity(event, 'Posts')">Posts</button>
        <button class="tablinks" onclick="openCity(event, 'Replies')">Replies</button>
        <button class="tablinks" onclick="openCity(event, 'Media')">Media</button>
    </div>

    <div id="Posts" class="tabcontent">
        <div>
            <br>
        </div>
        {% for post in posts %}
        <article class="media content-section border-bottom border-dark">
          <img class="rounded-circle bottom-img" src="{{ url_for('static', filename='images/profile_pics/' + post.user.image_file) }}">
            <div class="media-body">
                <div class="article-metadata">
                    <b>{{ post.user.name }}</b>&ensp;<span class="text=muted">{{ '@' + post.user.username }}</span> &centerdot;
                    <small class="text-muted">{{ post.posted_at.strftime('%b %d, %Y') }}</small>
                </div>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}

    </div>
</div>


        <div class="column right">


       </div>



{% endblock content%}
