{% extends 'layout.html' %}
{% block content %}
                
	<div class="column middle border-left border-right border-dark">
		
		<div class="content-section">
		    <div class="media border-bottom-1">
			    <img class="rounded-circle account-img" src="{{ image_file }}">
		      <div class="media-body">
		        <h3 class="mt-0">{{ current_user.name }}</h3>
		        <h6 class="mt-0">{{ '@' + current_user.username }}</h6>
		        <p class="mt-0 text-secondary">{{ current_user.email }} </p>
		      </div>
		   </div>
		   <form method="POST" action="" enctype="multipart/form-data">
		    {{ form.hidden_tag() }}
		    <fieldset>
			<legend class="border-bottom border-dark mb-4">Account Information </legend>
			<div class="form-group">
			{{ form.name.label(class="form-control-label") }}
			{% if form.name.errors  %}
				{{ form.name(class="form-control form-control-lg border is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.name.errors %}
						<span> {{ error }}
					{% endfor %}
				</div>
			{% else %}
			{{ form.name(class="form-control form-control-lg border") }}
			{% endif %}
			</div>
                        <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}
                        {% if form.username.errors  %}
                                {{ form.username(class="form-control form-control-lg border is-invalid") }}
                                <div class="invalid-feedback">
                                        {% for error in form.username.errors %}
					<span> {{ error }} </span>
                                        {% endfor %}
                                </div>
                        {% else %}
                        {{ form.username(class="form-control form-control-lg border") }}
                        {% endif %}
                        </div>

                        <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors  %}
                                {{ form.email(class="form-control form-control-lg border is-invalid") }}
                                <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
					<span> {{ error }} </span>
                                        {% endfor %}
                                </div>
                        {% else %}
                        {{ form.email(class="form-control form-control-lg border") }}
                        {% endif %}
                        </div>

                        <div class="form-group">
                        {{ form.picture.label() }}
                        {{ form.picture(class="form-control-file is-invalid") }}
			{% if form.picture.errors  %}
                             {% for error in form.picture.errors %}
                                     <span class="text-danger"> {{ error }} </span>
	                     {% endfor %}
                        {% endif %}
                        </div>

		    </fieldset>
		    	<br><br>
		        <div class="form-group">
                        {{ form.save(class="btn btn-outline-primary form-control") }}
                        </div>
		   </form></div>
		   <div class="content-section">
		   </div>
                   <div class="content-section">
                   </div>
		   <div class="content-section border-dark">
		    <form method="POST" action="" enctype="multipart/form-data">
                   	 {{ delete_form.hidden_tag() }}
                   <fieldset>
                        <legend class="border-bottom border-dark mb-4">Delete Account</legend>
                        <div class="form-group">
                       		{% if delete_form.name.errors  %}
                                {{ delete_form.name(class="form-control form-control-lg border is-invalid") }}
                                <div class="invalid-feedback">
                                        {% for error in delete_form.name.errors %}
                                                <span> {{ error }}
                                        {% endfor %}
                                </div>
                        	{% else %}
				<p class="delete-account"> To confirm, type your full name "{{ current_user.name }} " in the box below</p>
                       		{{ delete_form.name(class="delete-account orm-control form-control-lg border") }}
                       		{% endif %}
                        </div>
                    </fieldset>
                        <br><br>
                        <div class="form-group">
                        {{ delete_form.delete(class="btn-delete btn btn-outline-primary form-control") }}
                        </div>
                    </form>
                </div>

                <div class="column right">



                </div>

{% endblock content%}
