{% include "header.html" %}
{% extends "base.html" %}
{% block content %}
<link href="{{ url_for('static', filename='css/style_signup.css') }}" rel="stylesheet">
{% for flashed in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ flashed }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
{% endfor %}

<div class="signup-body">
    <div class="container">
        <form id="signup_form" action="/signup" method="post">
            <h1>Signup</h1>
            <fieldset>
                <div class="input-box">
                    <div class="input-field">
                        <input id="first-name" name="first-name" type="text" placeholder="First Name" pattern="[a-zA-Z0-9 ]{3,}" required>
                        <i class="ph ph-user"></i>
                    </div>
                    <div class="input-field">
                        <input id="last-name" name="last-name" type="text" placeholder="Last Name" pattern="[a-zA-Z0-9 ]{3,}" required >
                        <i class="ph ph-user"></i>
                    </div>
                </div>
                <div class="input-box">
                    <div class="input-field">
                        <input id="user-name" name="username" type="text" placeholder="Username" pattern="[a-zA-Z0-9_]{6,}" required >
                        <i class="ph ph-user"></i>
                    </div>
                    <div class="input-field">
                        <input id="email" name="email" type="email" placeholder="Email" required >
                        <i class="ph ph-envelope"></i>
                    </div>
                </div>
                <div class="input-box">
                    <div class="input-field">
                        <input id="password" name="password" type="password" placeholder="Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" required >
                        <i class="ph ph-lock"></i>
                    </div>
                    <div class="input-field">
                        <input id="confirm_password" name="confirm_password" type="password" placeholder="Confirm password" required >
                        <i class="ph ph-lock"></i>
                        <p class="password_msg"></p>
                    </div>
                </div>
                <input class="button" name="signup" type="submit" value="Signup">
            </fieldset>
        </form>
    </div>
</div>
<script src="https://unpkg.com/@phosphor-icons/web"></script>
{% endblock %}