<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NeXa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='css/signup.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/nexa_logo.png') }}">
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    {% include "header.html" %}
<div class="signup-body">
    <div class="container">
        <form id="signup_form" action="/signup" method="post">
            <h1>Create your account</h1>
            <fieldset>
                {{ form.hidden_tag() }}
                <div class="input-box">
                    <div class="input-field">
                        {% if form.first_name.errors %}
                        {{ form.first_name(id="first-name", placeholder="First Name", class="invalid input") }}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.first_name(id="first-name", class="input", placeholder="First Name") }}
                            <i class="ph ph-user"></i>
                            <span class="firstname_msg warning"></span>
                        {% endif %}
                    </div>
                    <div class="input-field">
                        {% if form.last_name.errors %}
                        {{ form.last_name(id="last-name", placeholder="Last Name", class="invalid input") }}
                        <div class="invalid-feedback">
                            {% for error in form.last_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.last_name(id="last-name", class="input", placeholder="Last Name") }}
                            <i class="ph ph-user"></i>
                            <span class="lastname_msg warning"></span>
                        {% endif %}
                    </div>
                </div>
                <div class="input-box">
                    <div class="input-field">
                        {% if form.username.errors %}
                        {{ form.username(id="user-name", placeholder="Username", class="input") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.username(id="user-name", placeholder="Username", class="input") }}
                            <i class="ph ph-user"></i>
                            <span class="username_msg warning"></span>
                        {% endif %}
                    </div>
                    <div class="input-field">
                        {% if form.email.errors %}
                        {{ form.email(id="email", placeholder="Email", class="input", type="email") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.email(id="email", placeholder="Email", class="input") }}
                            <i class="ph ph-envelope"></i>
                        {% endif %}
                    </div>
                </div>
                <div class="input-box">
                    <div class="input-field">
                        {% if form.password.errors %}
                        {{ form.password(id="password", placeholder="Password", class="input") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.password(id="password", placeholder="Password", class="input") }}
                            <i class="ph ph-lock"></i>
                        {% endif %}
                    </div>
                    <div class="input-field">
                        {% if form.confirm_password.errors %}
                        {{ form.confirm_password(id="confirm_password", placeholder="Confirm Password", class="input") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.confirm_password(id="confirm_password", placeholder="Confirm Password", class="input") }}
                            <i class="ph ph-lock"></i>
                            <span class="password_msg warning"></span>
                        {% endif %}
                    </div>
                </div>
                {{ form.submit(class="button")}}
                <div class="login-link">
                    <small>
                        Already have an account? <a href="{{ url_for('login') }}">Log in</a>
                    </small>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% include "footer.html" %}
<script src="https://unpkg.com/@phosphor-icons/web"></script>
<script src="{{ url_for('static', filename='js/js_signup.js') }}"></script>
</body>
</html>
