    <div class="header-container">
        <header>
            <a href="#">
                <img class="logo" src="{{ url_for('static', filename='images/nexa-logo.png') }}" alt="NeXa's Logo">
            </a>
            <nav>
                <ul>
                    <li class="about"><a href="#second_section">ABOUT</a></li>
                    <li class="contactUs"><a href="#third_section">CONTACT US</a></li>
                    <li class="Signup"><a href="#">SIGNUP</a></li>
                    <li class="login"><a href="#">LOGIN</a></li>
                </ul>
            </nav>
        </header>
    </div>